body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

h1 {
  color: #ff5722;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  margin: 15px auto;
  padding: 15px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
